<div class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="logo">
                    <img src="https://www.glamera.com/assets/img/header/main-Logo-Size.svg" alt="">
                </div>
            </div>
            <div class="col-xl-8">
                <nav class="navbar navbar-expand-md  d-xl-block">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="nav-link">Home</a>
                        </li>

                        <li class="nav-item">
                            <a [routerLink]="['/blogs']" routerLinkActive="router-link-active"  class="nav-link">Blogs
                            </a>
                        </li>

                        <li class="nav-item">
                            <a [routerLink]="['/help']" routerLinkActive="router-link-active"  class="nav-link">Help
                            </a>
                        </li>

                        <li class="nav-item">
                            <a [routerLink]="['/sign-in']" routerLinkActive="router-link-active"  class="nav-link">Sign In</a>
                        </li>

                        <li class="nav-item">
                            <a [routerLink]="['/sign-up']" routerLinkActive="router-link-active"  class="nav-link">Sign Up</a>
                        </li>

                        <li class="nav-item">
                            <a [routerLink]="['/contact-us']" routerLinkActive="router-link-active"  class="nav-link">Contact Us</a>
                        </li>

                        <li class="nav-item">
                            <select class="select-lang" >
                                <option >Ar</option>
                                <option >En</option>
                            </select>
                        </li>

                        <li class="nav-item">
                            <select class="select-place" >
                                <option >Egypt</option>
                                <option >Saudi Arabia</option>
                            </select>
                        </li>
                    </ul>
                </nav>
                <div class="menu-items d-xl-none d-lg-none d-md-none d-sm-block d-block menuNotOpened">


                </div>
            </div>
        </div>
    </div>
   
</div>