<div class="footer-section-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h6 class="h-download">Download the app</h6>
                <p class="p-download">you can download the app
                    instead in </p>
                <div class="image-download">
                    <img src="../../../assets/images/btns-donload.png" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <h4 class="header-links">Menu</h4>
                <p class="links">About Us</p>
                <p class="links">Careers</p>
                <p class="links">Blogs</p>
                <p class="links">Policies</p>
                <p class="links">Help</p>
                <p class="links">Provide Area</p>
            </div>

            <div class="col-md-3">
                <h4 class="header-links">My Account</h4>
                <p class="links">Log In / Register</p>
                <p class="links">My Favorite</p>
                <p class="links">My Orders</p>
                <p class="links">Account Setting</p>
                <p class="links">Memberships</p>
                <p class="links">Wallet</p>
            </div>

            <div class="col-md-3">
                <div class="image-help-center">
                    <img src="../../../assets/images/btn-help.png" alt="">
                </div>
                <h4 class="header-links us">Contact Us</h4>
                <h4 class="header-links us">Follow Us : </h4>
                <div class="icons">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="d-flex justify-content-between">
        <p class="p-footer-bottom">© Smart Zone</p>
        <div class="d-flex">
            <p class="p-footer-bottom">Language</p> 
            <a href="javascript:;" class="p-footer-bottom"> Arabic</a> 
            <a  href="javascript:;" class="p-footer-bottom">English</a>
        </div>
    </div>
    <div class="d-flex margin-footer">
        <a href="javascript:;" class="p-footer-bottom">Terms</a>
        <a href="javascript:;" class="p-footer-bottom">Privacy</a>
        <a href="javascript:;" class="p-footer-bottom"> Site Map</a>

    </div>
</div>